@import url(variable.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    background-color:var(--color-body);
    flex-direction: row;
}


main{
    height: 98vh;
}
.page{
    width: 100%;
    height: 97vh;
    flex-direction: column;
}
.page_title{
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.aside{
    margin-top: 2rem;
    display: flex;
    height: 50%;
    align-items: center;
    line-height: 3.5rem;    
    flex-direction: column;
    font-size: 1.3rem;
    align-items: baseline;
    margin-left: 2rem;

}
.aside a:hover{
    color: gold;
    scale: 1.2;
    transition: 0.3s ease;
}


.aside a{
    text-decoration: none;
    color: white;
}
.container{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 95%;
    height: 90%;
    color: white;
    background-color:#333333;
    border-radius: 3%;
    flex-direction: column;
    
}
.container h2{
    font-size: 2.4rem;
    margin: 15px 30px 0px 30px;
}

.page_main{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 18.5rem;
    max-height: 85vh;
    padding: 1rem;
    gap: 15px;
    overflow-y: auto;
    position: relative;
}
.cont{
    display: flex;
    box-shadow: 3px 3px 5px var(--color-ite-menu);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: white;
}

.weather{
    display: flex;
    max-width:100% ;
    max-height: 100%;
    flex-direction: column;
}
.weather img{
    
    width: 100%;
    height: auto;
    
}
.cont_t{
    display: flex;
    width: 14rem;
    height: 27%;
    flex-direction: column;
    background-color: orange;
    border-bottom-right-radius: 40px;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}
.cont_t button{
    position: absolute;
    width:5rem;
    height: 1.5rem;
    right: 1rem;
    bottom: 0.5rem;
    font-weight: 900;
    border:none;
    background-color: var(--color-ite-menu);
    border-bottom-right-radius: 20px;
    border: 1px solid black ;
}
.cont_t button:hover{
    background-color: turquoise;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
}
.main__elemento__text2{
    padding:  2rem 0 0 3rem;
}
