@import url(variable.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-body);
    height: 520vh;
    width: 99.8%;
}

hr {
    border-color: var(--color-word-titles);
    border-width: 2px;
    width: 5vw;
}

h1 {
    color: var(--color-word-titles);
}

p {
    color: var(--color-word-paragraph);
}

.head {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-template-areas: "food list";
    width: 100%;
    height: auto;
}

.head h1 {
    color: var(--color-word-titles);
    margin: 2% 0 0 80px;
    font-weight: 500;
}

.head li {
    list-style: none;
}

.head a {
    text-decoration: none;
    color: var(--color-word-paragraph);
}

.head li:hover {
    cursor: pointer;
    transition: 0.1s ease;
    transform: scale(1.1);
}
.head a:hover{
    color: var(--color-word-titles)
}
.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1.8%;
    font-size: 1.5em;
}

.menus {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
}

.open-menu {
    top: 10px;
    right: 20px;
    display: none;
    position: absolute;
}

.close-menu {
    top: 20px;
    right: 20px;
    display: none;
    position: absolute;
}

#check {
    display: none;
}

.food {
    grid-area: food;
}

.home {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-template-areas: "texto home";
    height: 91vh;
    width: 100%;
}

.image {
    grid-area: home;
}

.image img {
    object-fit: contain;
    position: relative;
    height: 74vh;
    width: 100%;
}

.au {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.au h1 {
    color: var(--color-word-titles);
    margin: 0 0 1% 0;
    font-size: 10vh;
    font-weight: 400;
}

.au p {
    color: var(--color-word-paragraph);
    margin: 0 0 1% 0;
    font-size: 3vh;
}

.b1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border-style: none;
}

.b1 button {
    background: var(--color-word-titles);
    color: var(--color-word-paragraph);
    width: 10vw;
    height: 5vh;
    border-style: none;
}

.b1 button:hover {
    transition: 0.2s ease-in;
    cursor: pointer;
    transform: scale(1.2);
    color: var(--color-body);
}

.container-home {
    height: 91vh;
    width: 100%;
}

.container_about {
    height: 100vh;
    width: 100%;
}

.about {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-template-areas: "special texto ";
    width: 100%;
    height: 100vh;
}

.texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    grid-area: texto;
}

.about h1 {
    color: var(--color-word-titles);
    font-size: 3vh;
    font-weight: 400;
    margin-bottom: 1%;
}

.about p {
    color: var(--color-word-paragraph);
}

.p1 {
    font-size: 6vh;
    margin-bottom: 1%;
}

.p2 {
    font-size: 2vh;
    margin-bottom: 1%;
}

.image-about {
    display: flex;
    object-fit: contain;
    align-items: center;
    justify-content: center;
}

.image-about img {
    height: 60vh;
    width: 70%;
}

.texto button {
    background: var(--color-word-titles);
    color: var(--color-word-paragraph);
    cursor: pointer;
    width: 17%;
    height: 6%;
    font-size: 2vh;
    border-style: none;
    margin: 1% 0 0 1%;
}

.texto button:hover {
    cursor: pointer;
    transition: 0.2s ease-in;
    transform: scale(1.2);
    color: var(--color-body);
}

.container-price {
    height: 100vh;
    width: 100%;
}

.container-food {
    display: grid;
    justify-content: center;
    grid-template: repeat(2, 1fr) / repeat(3, 30%);
    grid-template-areas:
        "foods foods foods"
        "img1 img2 img3";
    column-gap: 2%;
    row-gap: 9%;
    width: 100%;
    height: 60vh;
    margin: 4% 0 0 0;
}

.foods {
    grid-area: foods;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.foods p {
    font-weight: 400;
    font-size: 2em;
}

.foods h1 {
    font-weight: 300;
}

.book {
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 3em;
}

.container-food i:hover {
    cursor: pointer;
    transition: 0.3s ease;
    transform: scale(1.2);
    color: var(--color-word-titles);
}

.img1 {
    grid-area: img1;
    background: var(--color-back);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

.img1 h1 {
    font-weight: 400;
}

.img1 img {
    width: 50%;
    height: 60%;
}

.img2 {
    grid-area: img2;
    background: var(--color-back);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img2 h1 {
    font-weight: 400;
}

.img2 img {
    width: 50%;
    height: 60%;
}

.img3 {
    grid-area: img3;
    background: var(--color-back);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img3 h1 {
    font-weight: 400;
}

.img3 img {
    width: 50%;
    height: 60%;
}

.container-services {
    height: 100vh;
    width: 100%;
}

.container-we {
    display: grid;
    justify-content: center;
    grid-template: repeat(2, 1fr) / repeat(3, 30%);
    grid-template-areas:
        "best best best"
        "img4 img5 img6";
    column-gap: 2%;
    row-gap: 9%;
    width: 100%;
    height: 80vh;
}

.best {
    grid-area: best;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.best p {
    font-weight: 400;
    font-size: 2em;
}

.best h1 {
    font-weight: 300;
}

.img4 {
    grid-area: img4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img4:hover {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    transform: scale(1.2);
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

.img4 h1 {
    font-weight: 400;
}

.img4 img {
    width: 60%;
    height: auto;
}

.img5 {
    grid-area: img5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img5:hover {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    transform: scale(1.2);
}

.img5 img {
    width: 60%;
    height: auto;
}

.img5 h1 {
    font-weight: 400;
}

.img6 {
    grid-area: img6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img6:hover {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    transform: scale(1.2);
}

.img6 img {
    width: 60%;
    height: auto;
}

.img6 h1 {
    font-weight: 400;
}

.container-make {
    height: 80vh;
    width: 100%;
}

.container-every {
    display: grid;
    justify-content: center;
    grid-template: 1fr / repeat(3, 30%);
    grid-template-areas: "every every every";
    width: 100%;
    height: 50vh;
    margin: 1% 0 0 0;
}

.container-every div {
    grid-area: every;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: var(--color-back);
}

.container-every h2 {
    font-weight: 400;
    font-size: 3em;
}

.container-every button {
    background: var(--color-word-titles);
    color: var(--color-word-paragraph);
    width: 15%;
    height: 10%;
    margin: 3% 0 0 0;
    font-size: 1em;
    border-style: none;
}

.container-every button:hover {
    transition: 0.2s ease-in;
    cursor: pointer;
    transform: scale(1.2);
    color: var(--color-body);
}

footer {
    height: 22vh;
    width: 100%;
}

.container-footer {
    color: var(--color-word-paragraph);
    display: grid;
    justify-content: center;
    grid-template: 1fr / repeat(4, 20%);
    grid-template-areas: "menul Our Information us";
    width: 100%;
    height: 20vh;
}

.menu2 {
    grid-area: menul;
    list-style: none;
}

.menu2 a {
    text-decoration: none;
    color: var(--color-word-paragraph);
}

.menu2 a:hover {
    cursor: pointer;
    color: var(--color-word-titles);
}

.Our {
    grid-area: Our;
    list-style: none;
}

.Our li:hover {
    cursor: pointer;
    color: var(--color-word-titles);
}

.Information {
    grid-area: Information;
    list-style: none;
}

.Information li:hover {
    cursor: pointer;
    color: var(--color-word-titles);
}

.us {
    list-style: none;
}

.social-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}

.social-icons:hover {
    cursor: pointer;
}

.us .bx {
    font-size: 2em;
    color: #ff702a;
}

@media (max-width: 800px) {
    body {
        background: var(--color-menu-mobile);
    }

    .menus {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70vh;
        position: fixed;
        gap: 3%;
        top: 3rem;
        right: -100%;
        z-index: 100;
        background-color: var(--color-body);
        transition: 0.2s ease;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menus {
        right: 0;
    }

    .head h1 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 10%;
    }

    .container-home {
        width: 100%;
        height: 76vh;
    }

    .image {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 27vh;
    }

    .image img {
        object-fit: contain;
        height: 46vh;
        width: 70vw;
        bottom: 75%;
    }

    .home {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        align-items: center;
        grid-template-areas:
            "texto"
            "home";
    }

    .home h1 {
        font-size: 3rem;
    }

    .home p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .b1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-style: none;
        align-items: center;
    }

    .b1 button {
        width: 30vw;
        height: 5vh;
    }

    .about {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        justify-content: center;
        grid-template-areas:
            "texto"
            "special";
        height: 98vh;
    }

    .image-about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 30vh;
    }

    .image-about img {
        position: absolute;
        object-fit: contain;
        height: 43vh;
        width: 70vw;
    }

    .texto {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .p1 {
        font-size: 2rem;
    }

    .p2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .texto button {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        align-items: center;
        justify-content: center;
        width: 27vw;
        height: 6vh;
    }

    .container_about {
        width: 100%;
        height: 90vh;
    }

    .about {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        justify-content: center;
        grid-template-areas:
            "texto"
            "special";
        height: 100vh;
    }

    .container-price {
        height: 160vh;
        width: 100%;
    }

    .container-food {
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        justify-content: center;
        grid-template-areas:
            "foods"
            "img1"
            "img2"
            "img3";
        justify-items: center;
    }

    .foods {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .img1 {
        height: 40vh;
        width: 65vw;
    }

    .img1 img {
        object-fit: contain;
        height: 20vh;
        width: 50vw;
        bottom: 75%;
    }

    .img2 img {
        object-fit: contain;
        height: 20vh;
        width: 50vw;
        bottom: 75%;
    }

    .img3 img {
        object-fit: contain;
        height: 20vh;
        width: 63vw;
        bottom: 75%;
    }

    .container-services {
        width: 100%;
        height: 150vh;
    }

    .container-we {
        display: grid;
        justify-content: center;
        grid-template: repeat(4, 1fr) / repeat(1, 1fr);
        grid-template-areas:
            "best"
            "img4"
            "img5"
            "img6";
        width: 100%;
        height: 100vh;
    }

    .best {
        font-size: 1em;
        text-align: center;
    }

    .img4 img {
        object-fit: contain;
        height: 20vh;
        width: 50vw;
        bottom: 75%;
    }

    .img5 img {
        object-fit: contain;
        height: 20vh;
        width: 50vw;
        bottom: 75%;
    }

    .img6 img {
        object-fit: contain;
        height: 20vh;
        width: 50vw;
        bottom: 75%;
    }

    .container-make {
        width: 100%;
        height: 60vh;
    }

    .we {
        display: flex;
        flex-flow: column wrap;
        justify-items: center;
        align-items: center;
    }

    .container-every_2 h2 {
        font-size: 1.8em;
    }

    .container-every_2 button {
        width: 30vw;
    }

    footer {
        height: 80vh;
        width: 100%;
    }

    hr {
        width: 19vw;
    }

    .container-footer {
        color: var(--color-word-paragraph);
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        grid-template-areas:
            "menul"
            "Our"
            "Information"
            "us";
        width: 100%;
        height: 80vh;
    }

    .menu2 {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        padding-right: 14%;
        margin-right: 18%;
    }

    .Our {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        margin-right: 18%;
    }

    .Information {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        padding-right: 4%;
        margin-right: 18%;
    }

    .us {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}