<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>CampusShop</title>
</head>

<body>
    <aside>
        <section class="page">
            <div class="page_title">
                <h1>CampusShop</h1>
            </div>
            <div class="aside">
                <a class="elemento" href="../index.html" target="_self">Todos</a>
                <a class="elemento" href="abrigo.html" target="_self">Abrigos</a>
                <a class="elemento" href="camisas.html" target="_self">Camisas</a>
                <a class="elemento" href="pantalones.html" target="_self">Pantalones</a>
                <a class="elemento" href="carrito.html" target="_self">Carrito</a>
            </div>
        </section>
    </aside>
    <main>
        <section class="container">
                <h2>Camisas</h2>
            <div class="page_main">
                <div class="cont">
                    <div class="weather">
                        <div class="clothe">
                            <img src="/storage/img/Camisa1.webp" class="prenda">

                        </div>

                        <div class="cont_t">
                            <h3>Camiseta 01</h3>
                            <h5>$1000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="cont">
                    <div class="weather">
                        <div class="clothe">
                            <img src="/storage/img/Camisa2.webp" class="prenda">
                            

                        </div>

                        <div class="cont_t">
                            <h3>Camiseta 02</h3>
                            <h5>$1000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="cont">
                    <div class="weather">
                        <div class="clothe">
                            <img src="/storage/img/Camisa3.webp" class="prenda">
                            
                        </div>

                        <div class="cont_t">
                            <h3>Camiseta 03</h3>
                            <h5>$1000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="cont">
                    <div class="weather">
                        <div class="clothe">
                            <img src="/storage/img/Camisa4.webp" class="prenda">
                        

                        </div>

                        <div class="cont_t">
                            <h3>Camiseta 03</h3>
                            <h5>$1000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="cont">
                    <div class="weather">
                        <div class="clothe">
                            <img src="/storage/img/Camisa5.webp"class="prenda" >
                            

                        </div>

                        <div class="cont_t">
                            <h3>Camiseta 05</h3>
                            <h5>$1000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="cont">
                    <div class="weather">
                        <div class="clothe">
                            <img src="/storage/img/Camisa6.webp" class="prenda">
                            

                        </div>

                        <div class="cont_t">
                            <h3>Camiseta 06</h3>
                            <h5>$1000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>                
            </div>
        </section>
    </main>
</body>

</html>