<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <aside>
        <section class="page">
            <div class="page_title">
                <h1>CampusShop</h1>
            </div>
            <div class="aside">
                <a class="elemento" href="../index.html" target="_self">Todos</a>
                <a class="elemento" href="abrigo.html" target="_self">Abrigos</a>
                <a class="elemento" href="camisas.html" target="_self">Camisas</a>
                <a class="elemento" href="pantalones.html" target="_self">Pantalones</a>
                <a class="elemento" href="carrito.html" target="_self">Carrito</a>
            </div>
        </section>
    </aside>
    <section class="container">
        <h2>Carrito</h2>
                <div class="main__elemento__text2">
                    <h3>Tu carrito esta vacio :(</h3>
                </div>
            </div>
        </div>
</section>
</body>
</html>